%h1 User Profiles

= avatar(@user)
= @user.email

%h2 Albums

- @user.albums.each do |album|
  = link_to album.name, edit_album_path(album)

%p= link_to 'new album', new_user_album_path(current_user)
